<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meta.metadataserv.db.dao.DbColumnDao">
    <select id="getMysqlAllColumns" resultType="com.meta.metadataserv.domain.model.DbColumn">
        select replace(uuid(), '-', '') column_id,
               table_name,
               table_schema,
               column_name,
               data_type,
               column_default,
               if(lower(column_key) = 'pri', 1, 0) is_primary,
               if(lower(is_nullable)  = 'yes', 1, 0) is_nullable,
               character_maximum_length varchar_length,
               numeric_precision number_length,
               numeric_scale,
               column_comment remark,
               extra,
               ordinal_position sort
        from information_schema.columns
        where table_schema = #{schema}
    </select>

    <insert id="insertIntoDbColumnTemp">
        insert into metaData.t_metadata_db_column_temp
        (column_id,
        table_name,
        table_schema,
        column_name,
        data_type,
        column_default,
        is_primary,
        is_nullable,
        varchar_length,
        number_length,
        number_scale,
        remark,
        extra,
        sort)
        values
        <foreach collection="saveList" item="item" index="index" separator=",">
            (#{item.columnId},
            #{item.tableName},
            #{item.tableSchema},
            #{item.columnName},
            #{item.dataType},
            #{item.columnDefault},
            #{item.isPrimary},
            #{item.isNullable},
            #{item.varcharLength},
            #{item.numberLength},
            #{item.numberScale},
            #{item.remark},
            #{item.extra},
            #{item.sort})
        </foreach>
    </insert>

    <insert id="saveTempToDbColumn">
        insert into metaData.t_metadata_db_column
        (column_id, table_name, table_schema, column_name, data_type, column_default, is_primary, is_nullable, varchar_length, number_length, number_scale, remark, extra, sort, update_time)
        select a.column_id, a.table_name, a.table_schema, a.column_name, a.data_type, a.column_default, a.is_primary, a.is_nullable, a.varchar_length, a.number_length, a.number_scale, a.remark, a.extra, a.sort, now()
        from metaData.t_metadata_db_column_temp a left join metaData.t_metadata_db_column b on a.column_name = b.column_name and a.table_schema = b.table_schema
        where b.column_name is null
    </insert>

    <select id="getDbColumn" resultType="com.meta.metadataserv.domain.model.DbColumn">
        select * from metadata.t_metadata_db_column
        where table_name = #{tableName}
        <if test=" null != schema and '' != schema">
            and table_schema = #{schema}
        </if>
        order by is_primary desc, sort
    </select>

    <select id="getMysqlColumns" resultType="com.meta.metadataserv.domain.model.DbColumn">
        select replace(uuid(), '-', '') column_id,
               table_name,
               table_schema,
               column_name,
               data_type,
               column_default,
               if(lower(column_key) = 'pri', 1, 0) is_primary,
               if(lower(is_nullable)  = 'yes', 1, 0) is_nullable,
               character_maximum_length varchar_length,
               numeric_precision number_length,
               numeric_scale,
               column_comment remark,
               extra,
               sort
        from information_schema.columns
        where 1 = 1
         <if test=" null != queryCond.schema and '' != queryCond.schema ">
             and table_schema = #{queryCond.schema}
         </if>
        <if test=" null != queryCond.tableName and '' != queryCond.tableName ">
            and table_name = #{queryCond.tableName}
        </if>
    </select>

    <select id="getDbColumnNameList" resultType="java.lang.String">
        select column_name from t_metadata_db_column where table_schema = #{schema} and table_name = #{tableName}
    </select>

    <select id="getColumnQuerySelect" resultType="com.meta.metadataserv.domain.common.SelectVo">
        select column_name id, remark text from t_metadata_db_column where table_schema = #{schema} and table_name = #{tableName}
    </select>

    <select id="getGridColumn" resultType="com.meta.metadataserv.domain.common.GridColumn">
        select column_name prop,
               remark label,
               is_primary isPk
        from t_metadata_db_column
        where table_name = #{queryCond.tableName}
          and table_schema = #{queryCond.schema}
        order by is_primary desc, sort
    </select>

    <select id="getPkColumnName" resultType="com.meta.metadataserv.domain.model.DbColumn">
        select *
        from t_metadata_db_column
        where table_name = #{cond.tableName}
          and table_schema = #{cond.schema}
          and is_primary = 1
    </select>

    <select id="getMaxSortByTable" resultType="java.lang.Integer">
        select max(sort) sort
        from t_metadata_db_column
        where table_name = #{tableName}
          and table_schema = #{schema}
    </select>
</mapper>