<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meta.metadataserv.db.dao.DbIndexDao">
    <insert id="insertIntoDbIndexTemp">
        insert into metaData.t_metadata_db_index_temp
        (index_id,
        index_name,
        table_name,
        table_schema,
        is_unique,
        index_schema,
        column_name,
        index_type)
        values
        <foreach collection="saveList" item="item" index="index" separator=",">
            (#{item.indexId},
            #{item.indexName},
            #{item.tableName},
            #{item.tableSchema},
            #{item.isUnique},
            #{item.indexSchema},
            #{item.columnName},
            #{item.indexType})
        </foreach>
    </insert>

    <insert id="saveTempToDbIndex">
        insert into metaData.t_metadata_db_index
        (index_id, index_name, table_name, table_schema, is_unique, index_schema, column_name, index_type, update_time)
        select a.index_id, a.index_name, a.table_name, a.table_schema, a.is_unique, a.index_schema, a.column_name, a.index_type, now()
        from metaData.t_metadata_db_index_temp a
            left join metaData.t_metadata_db_index b on a.index_name = b.index_name and a.table_schema = b.table_schema
        where b.index_name is null
    </insert>

    <select id="getMysqlAllIndex" resultType="com.meta.metadataserv.domain.model.DbIndex">
        select
            replace(uuid(), '-', '') index_id,
            index_name,
            table_name,
            table_schema,
            if(non_unique = 0, 1, 0) is_unique,
            index_schema,
            column_name,
            index_type
        from information_schema.statistics
        where table_schema = #{schema}
        <if test=" null != tableName and '' != tableName">
            and table_name = #{tableName}
        </if>
    </select>

    <select id="getDbIndex" resultType="com.meta.metadataserv.domain.model.DbIndex">
        select
            a.index_id,
            a.index_name,
            group_concat(distinct b.column_name) column_name,
            a.is_unique
        from t_metadata_db_index a,
             t_metadata_db_index b
        where a.table_name = #{tableName}
        and a.index_name = b.index_name
        <if test=" null != schema and '' != schema">
            and a.table_schema = #{schema}
        </if>
        and b.table_name = a.table_name
        and a.table_schema = b.table_schema
        group by a.index_name
        order by a.index_name
    </select>
</mapper>