<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meta.metadataserv.sys.dao.RoleDao">
    <select id="getRoleRelByUserId" resultType="java.lang.String">
        select
            b.html_id
        from
            t_metadata_user a,
            t_metadata_menu_item b,
            t_metadata_role_rel c
        where
            a.role_id = c.role_id
          and b.item_id = c.item_id
          and a.user_id = #{userId}
    </select>

    <select id="getRoleSelect" resultType="com.meta.metadataserv.domain.common.SelectVo">
        select
            role_id id,
            role_name text
        from
            t_metadata_role
        where
            datastatusid = 1
    </select>
</mapper>